@import '../../fonts/fonts.css';

.select_wrapper {
  position: relative;
  width: 200px;
  box-sizing: border-box;
  user-select: none;
}

.select {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select_box {
  position: absolute;
  top: calc(100% + 10px);
  background: #fff;
  width: 100%;
  border-radius: 4px;
  max-height: 100px;
  overflow: auto;
  opacity: 1;
  transition: 0.5s;
}

.select_box_item {
  padding: 5px 15px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.select_box_item:hover {
  background: #ddd;
}

.select_box_hide {
  max-height: 0px;
  opacity: 0;
}

.arrow_left {
  transform: rotate(45deg);
}

.arrow_right {
  transform: rotate(-45deg);
  margin-left: -3px;
}

.arrow span {
  display: inline-block;
  width: 8px;
  height: 1px;
  background: #444;
  margin-bottom: 3px;
  transition: all 0.5s;
}

.arrow_right_open {
  transform: rotate(45deg);
}

.arrow_left_open {
  transform: rotate(-45deg);
}

.disabled {
  background: #ddd;
  cursor: not-allowed;
}